.housing-tags {
  display: flex;
  gap: 5px;
}
.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  background-color: #ff6060;
  color: #fff;
  padding: 5px;
}
.tag-container p {
  font-size: 14px;
  line-height: 19.96px;
}

@media screen and (max-width: 768px) {
  .tag-container {
    height: 18px;
    width: 95px;
  }
  .tag-container p {
    font-size: 10px;
    margin: 0px;
  }
}
