.collapseMenu {
  width: 200px;
}

.collapseMenuTitle {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.collapseMenuTitle img {
  width: 20px;
}
.collapseMenuContent {
  transform: "width:200px";
  transition: "1s ease";
}
